
<h1>ログイン</h1>

<div class="form"> 
    <%= form_with(url: login_path, scope: :session) do |f| %>
        <div class="input_form"> 
            <%= f.label :メールアドレス %><br>
            <%= f.email_field :email %>
        </div><br>

        <div class="input_form"> 
            <%= f.label :パスワード %><br>
            <%= f.password_field :password %>
        </div><br>

        <%= f.submit "ログインする", class: "btn" %><br>
        <a href="/signup" class="btn">新規登録する</a><br>
    <% end %>
</div>


