<% if flash[:notice].present? %>
    <script>
        window.onload = function() {
        $('#MODAL').modal('show');
        }
    </script>
    <div class="modal fade" id="MODAL">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <% if @modal == "delete" %>
                            <p><% @delete_skill %>を削除しました！</p>
                        <% elsif @model == "update" %>
                            <p><% @update_skill %>の学習時間を保存しました！</p>
                        <% end %>
                        <%= link_to("編集ページに戻る", "/learning", class: "btn") %>
                    </div>
                </div>
            </div>
        </div>
    </div>    
<% end %>


<div class="category_wrapper">
    <%= form_with(model: @learning) do |f| %>
        <p>@learning</p><%= @learning %><br>
        <p>----------------------</p>
        <p>f</p><%= @learning %><br>
        <p>----------------------</p>
        <p>@two_months</p><%= @two_months %><br>
        <p>----------------------</p>
        <p>@learning_array</p><%= @learning_array %><br>
        <p>----------------------</p>
        <p>@learning_array.each</p>
        <% @learning_array.each do |i| %>
            <%= i.skill %><br>
            <p>----------------------</p>
        <% end %><br>
        <p>----------------------</p>
        <p>@this_month_role_back</p><%= @this_month_role_back %><br>
        <p>----------------------</p>
        
        <%= f.select :month, @two_months, { class: 'select' , required: true, id: "input"}%><br>

        <div id="B今月"  class="category_frame">
            <div class="right flex">
                <div class="roll_title">今月のバックエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_back_this_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @this_month_role_back.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time, class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= link_to '学習時間を保存する', learning_path(t.id), method: :put, class: "save_btn", data: { "turbo-method": :put } %></div>
                        <div class="table_cell width200 center"><%= link_to '削除する', learning_path(t.id), method: :delete, class: "delete_btn", data: { "turbo-method": :delete } %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="B先月"  class="category_frame" style = 'display:none'>
            <div class="right flex">
                <div class="roll_title">先月のバックエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_back_last_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @last_month_role_back.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time, class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="B先々月" class="category_frame" style = 'display:none'>,
            <div class="right flex">
                <div class="roll_title">先々月のバックエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_back_two_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @two_month_role_back.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="F今月"  class="category_frame">
            <div class="right flex">
                <div class="roll_title">今月のフロントエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_front_this_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @this_month_role_front.each do |t| %>
                    <div class="table_row">
                        <%= t.hidden_field :skill_name, value: t.skill %>
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="F先月"  class="category_frame" style = 'display:none'>
            <div class="right flex">
                <div class="roll_title">先月のフロントエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_front_last_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @last_month_role_front.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="F先々月" class="category_frame" style = 'display:none'>,
            <div class="right flex">
                <div class="roll_title">先々月のフロントエンド</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_front_two_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @two_month_role_front.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="I今月"  class="category_frame">
            <div class="right flex">
                <div class="roll_title">今月のインフラ</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_infra_this_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @this_month_role_infra.each do |t| %>
                    <div class="table_row">
                        <%= t.hidden_field :skill_name, value: t.skill %>
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="I先月"  class="category_frame" style = 'display:none'>
            <div class="right flex">
                <div class="roll_title">先月のインフラ</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_infra_last_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @last_month_role_infra.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>

        <div id="I先々月" class="category_frame" style = 'display:none'>,
            <div class="right flex">
                <div class="roll_title">先々月のインフラ</div>
                <%= link_to("項目を追加する", "/learnings/learning_create_infra_two_month", class: "skill_add_btn") %>
            </div><br>
            <div class="block skill_form">
                <div class="table_header">
                    <p class="table_header_cell skill_name"><%= "項目名" %></p>
                    <p class="table_header_cell study_time"><%= "学習時間" %></p>
                </div>
                <% @two_month_role_infra.each do |t| %>
                    <div class="table_row">
                        <div class="table_cell width240 skill_name"><%= t.skill %></div>
                        <div class="table_cell width240"><%= f.number_field :learning_time, :value => t.learning_time , class: "minutes_select" %></div>
                        <div class="table_cell width200 center"><%= f.submit "学習時間を保存する", class: "save_btn" %></div>
                        <div class="table_cell width200 center"><%= f.submit "削除する", method: :delete, class: "delete_btn" %></div>
                    </div>
                <% end %>
            </div><br>
        </div><br>
    <% end %>
</div>



<script src="http://code.jquery.com/jquery-1.11.1.js" type="module">
</script>
