
<h1>新規登録</h1>

<div class="form"> 
    <%= form_with(model: @user) do |f| %>

        <div class="input_form"> 
            <%= f.label :氏名 %><br>
            <%= f.text_field :name, class: 'form-control' %>
        </div><br>

        <div class="input_form"> 
            <%= f.label :メールアドレス %><br>
            <%= f.email_field :email, class: 'form-control' %>
        </div><br>

        <div class="input_form"> 
            <%= f.label :パスワード %><br>
            <%= f.password_field :password, class: 'form-control' %>
        </div><br>

        <%= f.submit "登録する", class: "btn" %>
    <% end %>
</div>


